.bg_image{
    width: 100%;
    height: 100%;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    
}
.button_items{
    align-items: flex stretch;
    display: flex;
    justify-content: center;
    
}
.sell_button{
    border: 1px solid black;
    width: 175px;
    padding: 10px;
    height: 175px;
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background-color: green;
    color: aliceblue;
    text-shadow: 60px;
    text-decoration: solid;
    text-align:  center;
}
.sell_logo{
    width: 100px;
    height: 100px;
    align-self: flex-end;

}
.buy_button{
    border: 1px solid black;
    width: 175px;
    padding: 10px;
    height: 175px;
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background-color: green;
    color: aliceblue;
    text-shadow: 60px;
    text-decoration: solid;
    text-align:  center;
}
.request_button{
    border: 1px solid black;
    width: 175px;
    padding: 10px;
    height: 175px;
    position: fixed;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background-color: green;
    color: aliceblue;
    text-shadow: 60px;
    text-decoration: solid;
    text-align:  center;
}
.buy_logo{
    width: 100px;
    height: 100px;
    align-self: flex-end;
}

.home_row{
    margin-Left: '40%';
    margin-Top: '60px';
    width: '30%';
}